MAIN/GDPR/GDPR Consent Management.json
{
  "name": "GDPR Consent Management v2 (Full Audit Trail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gdpr-data-access",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -304
      ],
      "id": "ac523812-742b-4cf2-982a-39cd9b45db4b",
      "name": "GDPR Data Access Webhook",
      "webhookId": "gdpr-data-access-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из POST запроса\nconst webhookData = items[0].json;\nconst body = webhookData.body || webhookData;\n\nconst sessionId = body.sessionId || body.session_id;\nconst userId = body.userId || body.user_id;\nconst domain = body.domain || webhookData.headers?.origin || '';\nconst ipAddress = webhookData.headers?.['x-forwarded-for'] || webhookData.headers?.['x-real-ip'] || null;\nconst userAgent = webhookData.headers?.['user-agent'] || null;\n\nif (!sessionId && !userId) {\n    throw new Error('sessionId or userId is required');\n}\n\nreturn [{\n    json: {\n        session_id: sessionId,\n        user_id: userId,\n        domain: domain,\n        ip_address: ipAddress,\n        user_agent: userAgent\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -368
      ],
      "id": "af4161cc-66ea-4b66-92a3-0833a1aeffc3",
      "name": "Parse Access Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Получаем все данные пользователя для GDPR запроса\nWITH user_data AS (\n    SELECT \n        'consent' as data_type,\n        jsonb_build_object(\n            'consent_given', consent_given,\n            'is_active', is_active,\n            'consent_type', consent_type,\n            'privacy_policy_version', privacy_policy_version,\n            'domain', domain,\n            'created_at', created_at,\n            'expires_at', expires_at,\n            'revoked_at', revoked_at,\n            'revoke_reason', revoke_reason\n        ) as data\n    FROM gdpr_consents\n    WHERE session_id = '{{ $json.session_id }}'\n    ORDER BY created_at DESC\n    LIMIT 1\n),\n-- Контактные данные с приоритетом: prechat_submissions → user_contact_data\nuser_contact AS (\n    SELECT \n        'contact_data' as data_type,\n        CASE \n            -- Приоритет 1: prechat_submissions (если есть хоть какие-то данные)\n            WHEN EXISTS (\n                SELECT 1 FROM prechat_submissions ps \n                WHERE ps.session_id = '{{ $json.session_id }}'\n                AND (ps.name IS NOT NULL OR ps.email IS NOT NULL OR ps.phone IS NOT NULL)\n            ) THEN (\n                SELECT jsonb_build_object(\n                    'name', ps.name,\n                    'email', ps.email,\n                    'phone', ps.phone,\n                    'company', ps.company,\n                    'created_at', ps.created_at,\n                    'source', 'prechat_form'\n                )\n                FROM prechat_submissions ps\n                WHERE ps.session_id = '{{ $json.session_id }}'\n                ORDER BY ps.created_at DESC\n                LIMIT 1\n            )\n            -- Приоритет 2: user_contact_data (извлечено из диалога)\n            ELSE (\n                SELECT jsonb_build_object(\n                    'name', COALESCE(ucd.full_name, CONCAT_WS(' ', ucd.first_name, ucd.last_name)),\n                    'first_name', ucd.first_name,\n                    'last_name', ucd.last_name,\n                    'email', ucd.email,\n                    'phone', COALESCE(ucd.phone, ucd.phone_raw),\n                    'company', ucd.company,\n                    'position', ucd.position,\n                    'location', ucd.location,\n                    'telegram', ucd.telegram,\n                    'whatsapp', ucd.whatsapp,\n                    'instagram', ucd.instagram,\n                    'preferred_contact', ucd.preferred_contact,\n                    'created_at', ucd.created_at,\n                    'source', 'extracted_from_dialog',\n                    'confidence_score', ucd.confidence_score\n                )\n                FROM user_contact_data ucd\n                WHERE ucd.session_id = '{{ $json.session_id }}'\n                ORDER BY ucd.last_updated DESC\n                LIMIT 1\n            )\n        END as data\n),\nchat_history AS (\n    SELECT \n        'chat_message' as data_type,\n        jsonb_build_object(\n            'message_type', message::json->>'type',\n            'content', message::json->>'content',\n            'timestamp', created_at,\n            'platform', platform,\n            'language', 'ru'\n        ) as data\n    FROM n8n_chat_histories_ru\n    WHERE session_id = '{{ $json.session_id }}'\n    \n    UNION ALL\n    \n    SELECT \n        'chat_message' as data_type,\n        jsonb_build_object(\n            'message_type', message::json->>'type',\n            'content', message::json->>'content',\n            'timestamp', created_at,\n            'platform', platform,\n            'language', 'en'\n        ) as data\n    FROM n8n_chat_histories_en\n    WHERE session_id = '{{ $json.session_id }}'\n)\nSELECT * FROM user_data\nUNION ALL\nSELECT * FROM user_contact WHERE data IS NOT NULL\nUNION ALL\nSELECT * FROM chat_history\nORDER BY data_type;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -368
      ],
      "id": "ce1f536b-243d-4790-99a3-d420a753b99c",
      "name": "Get User Data",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Форматируем данные для GDPR ответа\nconst sessionId = $('Parse Access Request').first().json.session_id;\n\nif (!items || items.length === 0) {\n    return [{\n        json: {\n            success: true,\n            data: {\n                sessionId: sessionId,\n                consent: null,\n                contactData: null,\n                chatHistory: [],\n                exportedAt: new Date().toISOString(),\n                message: 'No data found for this session'\n            },\n            dataFound: false\n        }\n    }];\n}\n\n// Группируем данные по типу\nlet consent = null;\nlet contactData = null;\nconst chatHistory = [];\n\nfor (const item of items) {\n    const dataType = item.json.data_type;\n    const data = item.json.data;\n    \n    switch (dataType) {\n        case 'consent':\n            consent = data;\n            break;\n        case 'contact_data':\n            contactData = data;\n            break;\n        case 'chat_message':\n            chatHistory.push(data);\n            break;\n    }\n}\n\n// Сортируем историю чата по времени\nchatHistory.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));\n\nreturn [{\n    json: {\n        success: true,\n        data: {\n            sessionId: sessionId,\n            consent: consent,\n            contactData: contactData,\n            chatHistory: chatHistory,\n            totalMessages: chatHistory.length,\n            exportedAt: new Date().toISOString()\n        },\n        dataFound: true\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -368
      ],
      "id": "fe67c32d-945a-40c7-ac45-8dc4f1e1a98c",
      "name": "Format Access Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- GDPR Art. 15: Логируем запрос на доступ к данным (Right of Access)\nINSERT INTO gdpr_audit_log (\n    session_id,\n    action,\n    details,\n    ip_address,\n    user_agent,\n    domain,\n    purpose,\n    legal_basis,\n    controller,\n    data_categories\n) VALUES (\n    '{{ $('Parse Access Request').first().json.session_id }}',\n    'data_access',\n    '{{ JSON.stringify({\n        data_found: $json.dataFound,\n        total_messages: $json.data?.totalMessages || 0,\n        has_consent: $json.data?.consent !== null,\n        has_contact: $json.data?.contactData !== null,\n        gdpr_article: \"Art. 15 - Right of Access\"\n    }).replace(/'/g, \"''\") }}',\n    {{ $('Parse Access Request').first().json.ip_address ? \"'\" + $('Parse Access Request').first().json.ip_address + \"'\" : 'NULL' }},\n    {{ $('Parse Access Request').first().json.user_agent ? \"'\" + $('Parse Access Request').first().json.user_agent.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    '{{ $('Parse Access Request').first().json.domain }}',\n    'data_access',\n    'consent',\n    '{{ $('Parse Access Request').first().json.domain }}',\n    ARRAY['session_id', 'consent_records', 'contact_data', 'chat_history']\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        496,
        -368
      ],
      "id": "d1ead7d6-d10d-4ac5-bbf4-10cce00ffa1e",
      "name": "Audit Log Access",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Format Access Response').first().json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-GDPR-Request",
                "value": "data-access"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        -368
      ],
      "id": "3900bb80-9cde-49c8-9f3a-5eb25293d6ba",
      "name": "Respond Access"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// УНИВЕРСАЛЬНАЯ ЗАЩИТА: API KEY + RATE LIMITING\n// ============================================\n\nconst API_KEY = '24fs-$r4d-defd-77ds-7eds';\nconst RATE_LIMIT_WINDOW_MS = 60000;\nconst RATE_LIMIT_MAX_REQUESTS = 60;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -304
      ],
      "id": "06e66c85-e07d-41a8-9023-9d8a07d04ff9",
      "name": "Security Check Access"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        -304
      ],
      "id": "57aa2809-662b-48d6-b2dc-a736e8f77952",
      "name": "Auth Check Access"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -176,
        -192
      ],
      "id": "7aee2a56-2a97-40c7-a1de-962ee5e01cfd",
      "name": "Error Response Access"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consent-revoke",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "487579a1-37bb-4ff2-95b9-65ced63a90ea",
      "name": "Webhook Consent Revoke",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -704,
        624
      ],
      "webhookId": "c8d7e6f5-4a3b-2c1d-0e9f-8g7h6i5j4k3l"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// УНИВЕРСАЛЬНАЯ ЗАЩИТА: API KEY + RATE LIMITING\n// ============================================\n\nconst API_KEY = '24fs-$r4d-defd-77ds-7eds';\nconst RATE_LIMIT_WINDOW_MS = 60000;\nconst RATE_LIMIT_MAX_REQUESTS = 60;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        624
      ],
      "id": "49f49bdd-d07b-4cb9-9fc2-5b2ab73b6788",
      "name": "Security Check Revoke"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        624
      ],
      "id": "0aae908b-0a98-4f30-902d-15aa2146f97c",
      "name": "Auth Check Revoke"
    },
    {
      "parameters": {
        "jsCode": "// Трансформируем данные для отзыва согласия\nconst webhookData = items[0].json;\nconst body = webhookData.body || webhookData;\n\nconst sessionId = body.sessionId || body.session_id;\nconst userEmail = body.userEmail || body.email || null;\nconst reason = body.reason || 'user_request';\nconst deleteData = body.deleteData || body.delete_data || false;\nconst domain = body.domain || webhookData.headers?.origin || '';\n\nconst ipAddress = webhookData.headers?.['x-forwarded-for'] || webhookData.headers?.['x-real-ip'] || null;\nconst userAgent = webhookData.headers?.['user-agent'] || null;\n\nif (!sessionId) {\n    throw new Error('sessionId is required');\n}\n\nreturn [{\n    json: {\n        session_id: sessionId,\n        user_email: userEmail,\n        reason: reason,\n        delete_data: deleteData,\n        ip_address: ipAddress,\n        user_agent: userAgent,\n        domain: domain,\n        revoked_at: new Date().toISOString()\n    }\n}];"
      },
      "id": "d2825ad0-c770-44f8-baa4-5ca0acfc3077",
      "name": "Transform Revoke Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gdpr_consents\nSET \n    is_active = false,\n    revoked_at = NOW(),\n    revoke_reason = '{{ $json.reason }}',\n    revoke_ip = {{ $json.ip_address ? \"'\" + $json.ip_address + \"'\" : 'NULL' }}\nWHERE session_id = '{{ $json.session_id }}'\n    AND is_active = true\nRETURNING id, session_id, consent_type, revoked_at;",
        "options": {}
      },
      "id": "7028debc-ad7b-4a7c-99e5-abe677650ab7",
      "name": "Revoke Consent in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        64,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем данные для Audit Log\nconst transformedData = $('Transform Revoke Data').first().json;\nconst revokedConsents = $('Revoke Consent in DB').all();\nconst revokedCount = revokedConsents.length;\n\n// Формируем JSON для details\nconst details = JSON.stringify({\n    reason: transformedData.reason,\n    revokedCount: revokedCount,\n    deleteDataRequested: transformedData.delete_data,\n    gdpr_article: \"Art. 7(3) - Right to Withdraw Consent\"\n});\n\nreturn [{\n    json: {\n        session_id: transformedData.session_id,\n        action: 'consent_revoked',\n        details: details,\n        ip_address: transformedData.ip_address,\n        user_agent: transformedData.user_agent,\n        domain: transformedData.domain,\n        purpose: 'consent_withdrawal',\n        legal_basis: 'consent',\n        controller: transformedData.domain,\n        revoked_count: revokedCount\n    }\n}];"
      },
      "id": "42df6839-11b3-4e9a-9ccb-8b0a66223402",
      "name": "Prepare Audit Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- GDPR Art. 7(3): Логируем отзыв согласия\nINSERT INTO gdpr_audit_log (\n    session_id,\n    action,\n    details,\n    ip_address,\n    user_agent,\n    domain,\n    purpose,\n    legal_basis,\n    controller,\n    data_categories\n) VALUES (\n    '{{ $json.session_id }}',\n    '{{ $json.action }}',\n    '{{ $json.details.replace(/'/g, \"''\") }}',\n    {{ $json.ip_address ? \"'\" + $json.ip_address + \"'\" : 'NULL' }},\n    {{ $json.user_agent ? \"'\" + $json.user_agent.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    '{{ $json.domain }}',\n    '{{ $json.purpose }}',\n    '{{ $json.legal_basis }}',\n    '{{ $json.controller }}',\n    ARRAY['consent_records']\n)\nRETURNING id;",
        "options": {}
      },
      "id": "840fa73d-daea-45d0-8c49-ebee62ea116c",
      "name": "Save Audit Log Revoke",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        512,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем ответ\nconst preparedData = $('Prepare Audit Data').first().json;\n\nreturn [{\n    json: {\n        success: true,\n        message: 'Consent revoked successfully',\n        data: {\n            sessionId: preparedData.session_id,\n            revokedCount: preparedData.revoked_count,\n            reason: JSON.parse(preparedData.details).reason,\n            timestamp: new Date().toISOString(),\n            deleteDataRequested: JSON.parse(preparedData.details).deleteDataRequested\n        }\n    }\n}];"
      },
      "id": "15fbf788-d9a6-4ba7-8066-f9cf1d2945c8",
      "name": "Prepare Revoke Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-GDPR-Consent",
                "value": "revoked"
              }
            ]
          }
        }
      },
      "id": "9f5e4e4f-0ca3-47da-9745-347e4f6af6b9",
      "name": "Success Response Revoke",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        720
      ],
      "id": "6121a52b-8141-4a0a-a5d4-0a82cdc417c4",
      "name": "Error Response Revoke"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gdpr-data-export",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        160
      ],
      "id": "f7cfffd0-2164-45e6-9053-14a86b63361e",
      "name": "GDPR Data Export Webhook",
      "webhookId": "gdpr-data-export-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// УНИВЕРСАЛЬНАЯ ЗАЩИТА: API KEY + RATE LIMITING\n// ============================================\n\nconst API_KEY = '24fs-$r4d-defd-77ds-7eds';\nconst RATE_LIMIT_WINDOW_MS = 60000;\nconst RATE_LIMIT_MAX_REQUESTS = 60;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        160
      ],
      "id": "2972b979-e6e4-47c4-87f8-91d6c663fbd2",
      "name": "Security Check Export"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        160
      ],
      "id": "c0fb6c8c-3b33-43ec-a443-c906e4dd1168",
      "name": "Auth Check Export"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из POST запроса для экспорта\nconst webhookData = items[0].json;\nconst body = webhookData.body || webhookData;\n\nconst sessionId = body.sessionId || body.session_id;\nconst format = body.format || 'json';\nconst language = body.language || 'en';\nconst domain = body.domain || webhookData.headers?.origin || '';\nconst ipAddress = webhookData.headers?.['x-forwarded-for'] || webhookData.headers?.['x-real-ip'] || null;\nconst userAgent = webhookData.headers?.['user-agent'] || null;\n\nif (!sessionId) {\n    throw new Error('sessionId is required');\n}\n\nreturn [{\n    json: {\n        session_id: sessionId,\n        format: format,\n        language: language,\n        domain: domain,\n        ip_address: ipAddress,\n        user_agent: userAgent\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        96
      ],
      "id": "0cce3136-f31a-4599-b19f-d2a651839e91",
      "name": "Parse Export Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    user_email,\n    consent_given,\n    consent_type,\n    privacy_policy_version,\n    ip_address,\n    user_agent,\n    domain,\n    is_active,\n    revoked_at,\n    revoke_reason,\n    revoke_ip,\n    created_at as consent_date,\n    expires_at as consent_expires\nFROM gdpr_consents\nWHERE session_id = '{{ $json.session_id }}'\nORDER BY created_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -176
      ],
      "id": "47ac2f6a-e44d-4a22-85a0-32830eff215e",
      "name": "Get All Consents Export",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    name,\n    email,\n    phone,\n    company,\n    custom_fields,\n    gdpr_consent as form_consent,\n    domain,\n    created_at as profile_created\nFROM prechat_submissions\nWHERE session_id = '{{ $('Parse Export Request').first().json.session_id }}'\nORDER BY created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -48
      ],
      "id": "a1c9f8c1-3736-4adf-ac38-93d493b5f745",
      "name": "Get Profile Data Export",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    message::json->>'type' as message_type,\n    message::json->>'content' as content,\n    created_at as timestamp,\n    platform,\n    'ru' as language\nFROM n8n_chat_histories_ru\nWHERE session_id = '{{ $('Parse Export Request').first().json.session_id }}'\n\nUNION ALL\n\nSELECT \n    message::json->>'type' as message_type,\n    message::json->>'content' as content,\n    created_at as timestamp,\n    platform,\n    'en' as language\nFROM n8n_chat_histories_en\nWHERE session_id = '{{ $('Parse Export Request').first().json.session_id }}'\n\nORDER BY timestamp ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        80
      ],
      "id": "3adeff92-275d-4168-a137-d942f94922c4",
      "name": "Get Chat History Export",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    action,\n    details,\n    ip_address,\n    domain,\n    created_at as timestamp\nFROM gdpr_audit_log\nWHERE session_id = '{{ $('Parse Export Request').first().json.session_id }}'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        208
      ],
      "id": "5fae4ab4-3f6e-42dd-8eee-108b4664f2b8",
      "name": "Get Audit Log Export",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM webchat_monitoring\nWHERE session_id = '{{ $('Parse Export Request').first().json.session_id }}'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        336
      ],
      "id": "dbbf3cf4-9ac7-451b-8186-348f47ff2a25",
      "name": "Get Monitoring Data Export",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        80
      ],
      "id": "098e8be0-edb8-442b-a34d-9648efd4e397",
      "name": "Merge Export Data"
    },
    {
      "parameters": {
        "jsCode": "// Собираем все данные для экспорта в формате GDPR Art. 20\nconst requestData = $('Parse Export Request').first().json;\n\n// Получаем данные из всех источников (с проверкой на существование)\nlet consents = [];\nlet profile = null;\nlet chatHistory = [];\nlet auditLog = [];\nlet monitoringData = [];\n\ntry {\n    consents = $('Get All Consents Export').all().map(i => i.json);\n} catch (e) { /* нет данных */ }\n\ntry {\n    const profileItems = $('Get Profile Data Export').all();\n    if (profileItems.length > 0) {\n        profile = profileItems[0].json;\n    }\n} catch (e) { /* нет данных */ }\n\ntry {\n    chatHistory = $('Get Chat History Export').all().map(i => i.json);\n} catch (e) { /* нет данных */ }\n\ntry {\n    auditLog = $('Get Audit Log Export').all().map(i => i.json);\n} catch (e) { /* нет данных */ }\n\ntry {\n    monitoringData = $('Get Monitoring Data Export').all().map(i => i.json);\n} catch (e) { /* нет данных */ }\n\nconst totalRecords = consents.length + (profile ? 1 : 0) + chatHistory.length + auditLog.length + monitoringData.length;\n\nconst exportData = {\n    exportInfo: {\n        sessionId: requestData.session_id,\n        exportedAt: new Date().toISOString(),\n        format: requestData.format,\n        gdprArticle: 'Art. 20 - Right to Data Portability'\n    },\n    personalData: {\n        profile: profile,\n        consents: consents\n    },\n    activityData: {\n        chatHistory: chatHistory,\n        totalMessages: chatHistory.length\n    },\n    technicalData: {\n        monitoring: monitoringData\n    },\n    auditTrail: auditLog,\n    dataCategories: [\n        'Identity data (name, email)',\n        'Contact data (phone, company)',\n        'Consent records',\n        'Communication history',\n        'Technical data (IP, user agent)',\n        'Monitoring data'\n    ]\n};\n\nreturn [{\n    json: {\n        success: true,\n        data: exportData,\n        totalRecords: totalRecords,\n        // Данные для audit log\n        session_id: requestData.session_id,\n        format: requestData.format,\n        domain: requestData.domain,\n        ip_address: requestData.ip_address,\n        user_agent: requestData.user_agent\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        128
      ],
      "id": "898d9d36-11ea-4c51-986e-dfb0cf26c010",
      "name": "Format Export Data"
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем данные для Audit Log\nconst exportData = $('Format Export Data').first().json;\n\nconst details = JSON.stringify({\n    format: exportData.format,\n    total_records: exportData.totalRecords,\n    gdpr_article: \"Art. 20 - Right to Data Portability\"\n});\n\nreturn [{\n    json: {\n        session_id: exportData.session_id,\n        action: 'data_export',\n        details: details,\n        ip_address: exportData.ip_address,\n        user_agent: exportData.user_agent,\n        domain: exportData.domain,\n        purpose: 'data_portability',\n        legal_basis: 'consent',\n        controller: exportData.domain,\n        // Передаём данные для ответа\n        export_response: {\n            success: exportData.success,\n            data: exportData.data,\n            totalRecords: exportData.totalRecords\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        128
      ],
      "id": "c1fb8d58-e28d-4912-8d7b-c093c0e86fc7",
      "name": "Prepare Audit Data Export"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- GDPR Art. 20: Логируем экспорт данных\nINSERT INTO gdpr_audit_log (\n    session_id,\n    action,\n    details,\n    ip_address,\n    user_agent,\n    domain,\n    purpose,\n    legal_basis,\n    controller,\n    data_categories\n) VALUES (\n    '{{ $json.session_id }}',\n    '{{ $json.action }}',\n    '{{ $json.details.replace(/'/g, \"''\") }}',\n    {{ $json.ip_address ? \"'\" + $json.ip_address + \"'\" : 'NULL' }},\n    {{ $json.user_agent ? \"'\" + $json.user_agent.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    '{{ $json.domain }}',\n    '{{ $json.purpose }}',\n    '{{ $json.legal_basis }}',\n    '{{ $json.controller }}',\n    ARRAY['session_id', 'consent_records', 'contact_data', 'chat_history', 'audit_trail', 'monitoring_data']\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        912,
        128
      ],
      "id": "e71fafe5-8e23-4111-8b8b-b2411c0afd20",
      "name": "Audit Log Export",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Prepare Audit Data Export').first().json.export_response }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-GDPR-Request",
                "value": "data-export"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"gdpr-export.json\""
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        128
      ],
      "id": "62754864-cc7e-48fc-98b0-7070681fbd20",
      "name": "Respond Export"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -176,
        256
      ],
      "id": "b0a17673-8c88-49d5-a2a1-35ccd7ff5800",
      "name": "Error Response Export"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delete-session-gdrp",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "f2f39f52-1d89-4b75-867a-678fe4acf9e6",
      "name": "Webhook Delete Session",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -720,
        -992
      ],
      "webhookId": "e1ec3156-2578-4572-97c8-70c917b6f4a6"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// УНИВЕРСАЛЬНАЯ ЗАЩИТА: API KEY + RATE LIMITING\n// ============================================\n\nconst API_KEY = '24fs-$r4d-defd-77ds-7eds';\nconst RATE_LIMIT_WINDOW_MS = 60000;\nconst RATE_LIMIT_MAX_REQUESTS = 60;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -992
      ],
      "id": "b2bdfc53-d85e-4ffe-9f56-6fd230fff3e0",
      "name": "Security Check Delete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        -992
      ],
      "id": "eceb6f0d-4804-4451-86b5-d6da1c164a2a",
      "name": "Auth Check Delete"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем данные для удаления и audit log\nconst webhookData = items[0].json;\nconst body = webhookData.body || webhookData;\n\nconst sessionId = body.sessionId || body.session_id;\nconst reason = body.reason || 'user_request';\nconst domain = body.domain || webhookData.headers?.origin || '';\nconst ipAddress = webhookData.headers?.['x-forwarded-for'] || webhookData.headers?.['x-real-ip'] || null;\nconst userAgent = webhookData.headers?.['user-agent'] || null;\n\nif (!sessionId) {\n    throw new Error('sessionId is required');\n}\n\nreturn [{\n    json: {\n        session_id: sessionId,\n        reason: reason,\n        domain: domain,\n        ip_address: ipAddress,\n        user_agent: userAgent\n    }\n}];"
      },
      "id": "0fce9e2e-47de-4ff7-a913-b206b79c3093",
      "name": "Transform Delete Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -1056
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Удаление всех связанных записей по session_id\nWITH session_data AS (\n  SELECT '{{ $json.session_id }}' as sid,\n         SUBSTRING('{{ $json.session_id }}' FROM POSITION('_' IN '{{ $json.session_id }}') + 1) as cid\n),\ndeleted_monitoring AS (\n  DELETE FROM webchat_monitoring \n  WHERE session_id = (SELECT sid FROM session_data)\n  RETURNING *\n),\ndeleted_contacts AS (\n  DELETE FROM user_contact_data\n  WHERE session_id = (SELECT sid FROM session_data)\n  RETURNING *\n),\ndeleted_analysis AS (\n  DELETE FROM dialog_analysis\n  WHERE session_id = (SELECT sid FROM session_data)\n  RETURNING *\n),\ndeleted_chat_histories_ru AS (\n  DELETE FROM n8n_chat_histories_ru\n  WHERE session_id = (SELECT sid FROM session_data)\n  RETURNING *\n),\ndeleted_chat_histories_en AS (\n  DELETE FROM n8n_chat_histories_en\n  WHERE session_id = (SELECT sid FROM session_data)\n  RETURNING *\n),\ndeleted_highlights AS (\n  DELETE FROM conversation_highlights\n  WHERE session_id = (SELECT sid FROM session_data)\n  RETURNING *\n),\ndeleted_preferences AS (\n  DELETE FROM user_preferences\n  WHERE chat_id = (SELECT cid FROM session_data)\n  RETURNING *\n),\ndeleted_prechat AS (\n  DELETE FROM prechat_submissions\n  WHERE session_id = (SELECT sid FROM session_data)\n  RETURNING *\n),\ndeleted_consents AS (\n  DELETE FROM gdpr_consents\n  WHERE session_id = (SELECT sid FROM session_data)\n  RETURNING *\n)\nSELECT \n  (SELECT sid FROM session_data) as deleted_session_id,\n  (SELECT COUNT(*) FROM deleted_monitoring) as monitoring_deleted,\n  (SELECT COUNT(*) FROM deleted_contacts) as contacts_deleted,\n  (SELECT COUNT(*) FROM deleted_analysis) as analysis_deleted,\n  (SELECT COUNT(*) FROM deleted_chat_histories_ru) as chat_histories_ru_deleted,\n  (SELECT COUNT(*) FROM deleted_chat_histories_en) as chat_histories_en_deleted,\n  (SELECT COUNT(*) FROM deleted_highlights) as highlights_deleted,\n  (SELECT COUNT(*) FROM deleted_preferences) as preferences_deleted,\n  (SELECT COUNT(*) FROM deleted_prechat) as prechat_deleted,\n  (SELECT COUNT(*) FROM deleted_consents) as consents_deleted,\n  (SELECT COUNT(*) FROM deleted_monitoring) + \n  (SELECT COUNT(*) FROM deleted_contacts) + \n  (SELECT COUNT(*) FROM deleted_analysis) +\n  (SELECT COUNT(*) FROM deleted_chat_histories_ru) +\n  (SELECT COUNT(*) FROM deleted_chat_histories_en) +\n  (SELECT COUNT(*) FROM deleted_highlights) +\n  (SELECT COUNT(*) FROM deleted_preferences) +\n  (SELECT COUNT(*) FROM deleted_prechat) +\n  (SELECT COUNT(*) FROM deleted_consents) as total_deleted;",
        "options": {}
      },
      "id": "61618c93-22c8-48b3-b7d4-e5f7c5fdf107",
      "name": "Delete from PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        48,
        -1056
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем данные для Audit Log\nconst transformData = $('Transform Delete Data').first().json;\nconst deleteResult = $('Delete from PostgreSQL').first().json;\n\n// Безопасно получаем значения с fallback на 0\nconst monitoringDeleted = parseInt(deleteResult.monitoring_deleted) || 0;\nconst contactsDeleted = parseInt(deleteResult.contacts_deleted) || 0;\nconst analysisDeleted = parseInt(deleteResult.analysis_deleted) || 0;\nconst chatRuDeleted = parseInt(deleteResult.chat_histories_ru_deleted) || 0;\nconst chatEnDeleted = parseInt(deleteResult.chat_histories_en_deleted) || 0;\nconst highlightsDeleted = parseInt(deleteResult.highlights_deleted) || 0;\nconst preferencesDeleted = parseInt(deleteResult.preferences_deleted) || 0;\nconst prechatDeleted = parseInt(deleteResult.prechat_deleted) || 0;\nconst consentsDeleted = parseInt(deleteResult.consents_deleted) || 0;\nconst totalDeleted = parseInt(deleteResult.total_deleted) || 0;\n\n// Формируем JSON для details\nconst details = JSON.stringify({\n    reason: transformData.reason,\n    deleted_count: totalDeleted,\n    tables_affected: {\n        monitoring: monitoringDeleted,\n        contacts: contactsDeleted,\n        analysis: analysisDeleted,\n        chat_ru: chatRuDeleted,\n        chat_en: chatEnDeleted,\n        highlights: highlightsDeleted,\n        preferences: preferencesDeleted,\n        prechat: prechatDeleted,\n        consents: consentsDeleted\n    },\n    gdpr_article: \"Art. 17 - Right to Erasure\"\n});\n\nreturn [{\n    json: {\n        session_id: transformData.session_id,\n        action: 'data_erasure',\n        details: details,\n        ip_address: transformData.ip_address,\n        user_agent: transformData.user_agent,\n        domain: transformData.domain,\n        purpose: 'data_erasure',\n        legal_basis: 'consent',\n        controller: transformData.domain,\n        // Данные для ответа\n        total_deleted: totalDeleted,\n        monitoring_deleted: monitoringDeleted,\n        contacts_deleted: contactsDeleted,\n        chat_histories_ru_deleted: chatRuDeleted,\n        chat_histories_en_deleted: chatEnDeleted,\n        consents_deleted: consentsDeleted\n    }\n}];"
      },
      "id": "06f47790-eb3c-44d4-827f-e99f39c0d324",
      "name": "Prepare Audit Data Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -1056
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- GDPR Art. 17: Логируем удаление данных\nINSERT INTO gdpr_audit_log (\n    session_id,\n    action,\n    details,\n    ip_address,\n    user_agent,\n    domain,\n    purpose,\n    legal_basis,\n    controller,\n    data_categories\n) VALUES (\n    '{{ $json.session_id }}',\n    '{{ $json.action }}',\n    '{{ $json.details.replace(/'/g, \"''\") }}',\n    {{ $json.ip_address ? \"'\" + $json.ip_address + \"'\" : 'NULL' }},\n    {{ $json.user_agent ? \"'\" + $json.user_agent.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    '{{ $json.domain }}',\n    '{{ $json.purpose }}',\n    '{{ $json.legal_basis }}',\n    '{{ $json.controller }}',\n    ARRAY['session_id', 'chat_history', 'contact_data', 'consent_records', 'analytics']\n)\nRETURNING id;",
        "options": {}
      },
      "id": "2a709160-b0dd-4563-accd-ae953e6a7bcf",
      "name": "Audit Log Erasure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        496,
        -1056
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Формируем ответ об удалении\nconst auditData = $('Prepare Audit Data Delete').first().json;\n\nreturn [{\n    json: {\n        success: auditData.total_deleted > 0,\n        message: auditData.total_deleted > 0 ? 'Data deleted successfully' : 'No data found for this session',\n        session_id: auditData.session_id,\n        deleted_count: auditData.total_deleted,\n        details: {\n            monitoring: auditData.monitoring_deleted,\n            contacts: auditData.contacts_deleted,\n            chat_history: auditData.chat_histories_ru_deleted + auditData.chat_histories_en_deleted,\n            consents: auditData.consents_deleted\n        }\n    }\n}];"
      },
      "id": "da53b390-a622-4e69-a62c-45821234b485",
      "name": "Prepare Delete Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -1056
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-GDPR-Action",
                "value": "data-erasure"
              }
            ]
          }
        }
      },
      "id": "3ab71dd7-3880-4331-b808-b47bc630a5ed",
      "name": "Respond to Webhook Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        944,
        -1056
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -176,
        -896
      ],
      "id": "e2966912-4181-432f-a9b5-7425dc78566f",
      "name": "Error Response Delete"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gdpr-consent",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "5f561f75-7647-4417-afba-fb1e5fb092bb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -672
      ],
      "webhookId": "b49ee8a7-fd41-4672-8541-1f6ef5c3d1b0"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// УНИВЕРСАЛЬНАЯ ЗАЩИТА: API KEY + RATE LIMITING\n// ============================================\n\nconst API_KEY = '24fs-$r4d-defd-77ds-7eds';\nconst RATE_LIMIT_WINDOW_MS = 60000;\nconst RATE_LIMIT_MAX_REQUESTS = 60;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -672
      ],
      "id": "998ba2c3-5431-44f4-b314-acb99756d95c",
      "name": "Security Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        -672
      ],
      "id": "4e48f331-d382-4b21-9c49-7f5e76a7b20c",
      "name": "Auth Check"
    },
    {
      "parameters": {
        "jsCode": "// Трансформируем данные из вебчата в формат для БД\nconst webhookData = items[0].json;\nconst body = webhookData.body || webhookData;\n\n// Конвертируем action в boolean consent_given\nconst action = body.action || body.accepted;\nconst consentGiven = action === 'accepted' || action === true;\n\n// is_active: используем переданное значение или вычисляем из action\nconst isActive = body.is_active !== undefined ? body.is_active : consentGiven;\n\n// Извлекаем данные\nconst sessionId = body.sessionId || body.session_id;\nconst userEmail = body.userEmail || body.userData?.email || null;\nconst consentType = body.type || body.consentType || 'general';\nconst privacyPolicyVersion = String(body.privacyPolicyVersion || body.privacy_policy_version || '1.0');\nconst domain = body.domain || webhookData.headers?.origin || '';\n\n// GDPR поля\nconst purpose = body.purpose || 'lead_qualification';\nconst legalBasis = body.legalBasis || body.legal_basis || 'consent';\nconst controller = body.controller || domain;\n\n// IP и User Agent из заголовков\nconst ipAddress = webhookData.headers?.['x-forwarded-for'] || webhookData.headers?.['x-real-ip'] || null;\nconst userAgent = webhookData.headers?.['user-agent'] || null;\n\n// Вычисляем дату истечения (по умолчанию 365 дней)\nconst expiresAt = body.expiresAt || new Date(Date.now() + 365 * 24 * 60 * 60 * 1000).toISOString();\n\n// Проверяем обязательные поля\nif (!sessionId) {\n    throw new Error('sessionId is required');\n}\n\nreturn [{\n    json: {\n        session_id: sessionId,\n        user_email: userEmail,\n        consent_given: consentGiven,\n        consent_type: consentType,\n        privacy_policy_version: privacyPolicyVersion,\n        ip_address: ipAddress,\n        user_agent: userAgent,\n        domain: domain,\n        expires_at: expiresAt,\n        is_active: isActive,\n        // GDPR Audit fields\n        purpose: purpose,\n        legal_basis: legalBasis,\n        controller: controller,\n        action_type: consentGiven ? 'consent_given' : 'consent_declined'\n    }\n}];"
      },
      "id": "a9eec112-713d-4c35-a8a3-851ab0bdbf39",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -736
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gdpr_consents (\n    session_id,\n    user_email,\n    consent_given,\n    consent_type,\n    privacy_policy_version,\n    ip_address,\n    user_agent,\n    domain,\n    expires_at,\n    is_active\n) VALUES (\n    '{{ $json.session_id }}',\n    {{ $json.user_email ? \"'\" + $json.user_email + \"'\" : 'NULL' }},\n    {{ $json.consent_given }},\n    '{{ $json.consent_type }}',\n    '{{ $json.privacy_policy_version }}',\n    {{ $json.ip_address ? \"'\" + $json.ip_address + \"'\" : 'NULL' }},\n    {{ $json.user_agent ? \"'\" + $json.user_agent.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    '{{ $json.domain }}',\n    '{{ $json.expires_at }}'::timestamp,\n    {{ $json.is_active }}\n)\nON CONFLICT (session_id, consent_type) DO UPDATE SET\n    user_email = EXCLUDED.user_email,\n    consent_given = EXCLUDED.consent_given,\n    privacy_policy_version = EXCLUDED.privacy_policy_version,\n    ip_address = EXCLUDED.ip_address,\n    user_agent = EXCLUDED.user_agent,\n    domain = EXCLUDED.domain,\n    expires_at = EXCLUDED.expires_at,\n    is_active = EXCLUDED.is_active,\n    revoked_at = NULL,\n    revoke_reason = NULL,\n    revoke_ip = NULL\nRETURNING id, session_id, consent_given, created_at;",
        "options": {}
      },
      "id": "e052d829-a29b-417f-88b9-be80c9ed7160",
      "name": "Save Consent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        192,
        -736
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем данные для Audit Log\nconst transformData = $('Transform Data').first().json;\nconst saveResult = $('Save Consent').first().json || {};\n\n// Формируем JSON для details\nconst details = JSON.stringify({\n    consent_given: transformData.consent_given,\n    consent_type: transformData.consent_type,\n    version: transformData.privacy_policy_version\n});\n\nreturn [{\n    json: {\n        session_id: transformData.session_id,\n        action: transformData.action_type,\n        details: details,\n        ip_address: transformData.ip_address,\n        user_agent: transformData.user_agent,\n        domain: transformData.domain,\n        purpose: transformData.purpose,\n        legal_basis: transformData.legal_basis,\n        controller: transformData.controller,\n        privacy_policy_version: transformData.privacy_policy_version,\n        // Данные из Save Consent для ответа\n        consent_id: saveResult.id || null,\n        consent_given: transformData.consent_given,\n        consent_type: transformData.consent_type,\n        created_at: saveResult.created_at || new Date().toISOString()\n    }\n}];"
      },
      "id": "18793fd1-629b-4eb3-9334-3708fd13d8d0",
      "name": "Prepare Audit Data Consent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -736
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- GDPR Art. 7 & Art. 30: Логируем факт получения/отклонения согласия\nINSERT INTO gdpr_audit_log (\n    session_id,\n    action,\n    details,\n    ip_address,\n    user_agent,\n    domain,\n    purpose,\n    legal_basis,\n    controller,\n    data_categories,\n    privacy_policy_version\n) VALUES (\n    '{{ $json.session_id }}',\n    '{{ $json.action }}',\n    '{{ $json.details.replace(/'/g, \"''\") }}',\n    {{ $json.ip_address ? \"'\" + $json.ip_address + \"'\" : 'NULL' }},\n    {{ $json.user_agent ? \"'\" + $json.user_agent.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    '{{ $json.domain }}',\n    '{{ $json.purpose }}',\n    '{{ $json.legal_basis }}',\n    '{{ $json.controller }}',\n    ARRAY['session_id', 'consent_preferences'],\n    '{{ $json.privacy_policy_version }}'\n)\nRETURNING id;",
        "options": {}
      },
      "id": "a96a5f61-490f-4a2a-85ad-115e7914c2eb",
      "name": "Audit Log Consent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        640,
        -736
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(\n    SELECT 1 FROM prechat_submissions \n    WHERE session_id = '{{ $('Prepare Audit Data Consent').first().json.session_id }}'\n) as has_prechat_data;",
        "options": {}
      },
      "id": "39b4a0c2-a550-4d24-b4bf-c045acaacb2f",
      "name": "Check PreChat Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        864,
        -736
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем ответ\nconst auditData = $('Prepare Audit Data Consent').first().json;\nconst preChatCheck = items[0]?.json || {};\n\nreturn [{\n    json: {\n        success: true,\n        message: 'Consent recorded successfully',\n        data: {\n            consentId: auditData.consent_id,\n            sessionId: auditData.session_id,\n            consentGiven: auditData.consent_given,\n            consentType: auditData.consent_type,\n            timestamp: auditData.created_at,\n            hasPreChatData: preChatCheck.has_prechat_data === true\n        }\n    }\n}];"
      },
      "id": "d91e20cd-ec0a-4deb-9650-2d04e61baa4a",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -736
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-GDPR-Consent",
                "value": "recorded"
              }
            ]
          }
        }
      },
      "id": "10dd4ffc-d644-4058-bfe7-f2a84b553d0f",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1312,
        -736
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -32,
        -560
      ],
      "id": "98f15d59-3ef1-4ac2-b5ef-cf282b741b15",
      "name": "Error Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prechat-form",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "72438278-f9ae-4d4c-a408-db551d6d3e41",
      "name": "Webhook PreChat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -704,
        976
      ],
      "webhookId": "a37e1da3-8f42-4cce-bd0e-c8d19c66856c"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// УНИВЕРСАЛЬНАЯ ЗАЩИТА: API KEY + RATE LIMITING\n// ============================================\n\nconst API_KEY = '24fs-$r4d-defd-77ds-7eds';\nconst RATE_LIMIT_WINDOW_MS = 60000;\nconst RATE_LIMIT_MAX_REQUESTS = 60;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        976
      ],
      "id": "335a3c51-fc13-4cb7-acdc-760b413e2b42",
      "name": "Security Check PreChat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        976
      ],
      "id": "17561be9-4ff6-4ed6-a784-349ebeece1c5",
      "name": "Auth Check PreChat"
    },
    {
      "parameters": {
        "jsCode": "// Трансформируем данные из вебчата в формат для БД\nconst webhookData = items[0].json;\nconst body = webhookData.body || webhookData;\n\nconst formData = body.formData || body.userData || {};\n\nconst sessionId = body.sessionId || body.session_id;\nconst name = formData.name || null;\nconst email = formData.email || null;\nconst phone = formData.phone || null;\nconst company = formData.company || null;\n\n// Custom fields\nconst standardFields = ['name', 'email', 'phone', 'company'];\nconst customFields = {};\nfor (const key in formData) {\n    if (!standardFields.includes(key)) {\n        customFields[key] = formData[key];\n    }\n}\n\nconst gdprConsent = body.gdprConsent !== undefined ? body.gdprConsent : true;\nconst domain = body.domain || webhookData.headers?.origin || webhookData.headers?.referer || '';\nconst ipAddress = webhookData.headers?.['x-forwarded-for'] || webhookData.headers?.['x-real-ip'] || null;\nconst userAgent = webhookData.headers?.['user-agent'] || null;\n\nif (!sessionId) {\n    throw new Error('sessionId is required');\n}\n\n// Определяем какие персональные данные были собраны\nconst dataCategories = ['session_id'];\nif (name) dataCategories.push('name');\nif (email) dataCategories.push('email');\nif (phone) dataCategories.push('phone');\nif (company) dataCategories.push('company');\n\nreturn [{\n    json: {\n        session_id: sessionId,\n        name: name,\n        email: email,\n        phone: phone,\n        company: company,\n        custom_fields: JSON.stringify(customFields),\n        gdpr_consent: gdprConsent,\n        domain: domain,\n        ip_address: ipAddress,\n        user_agent: userAgent,\n        data_categories: dataCategories\n    }\n}];"
      },
      "id": "8ebc212f-3c5f-4cc5-8e04-07522162ded0",
      "name": "Transform PreChat Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        912
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO prechat_submissions (\n    session_id,\n    name,\n    email,\n    phone,\n    company,\n    custom_fields,\n    gdpr_consent,\n    domain\n) VALUES (\n    '{{ $json.session_id }}',\n    {{ $json.name ? \"'\" + $json.name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    {{ $json.email ? \"'\" + $json.email.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    {{ $json.phone ? \"'\" + $json.phone.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    {{ $json.company ? \"'\" + $json.company.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    '{{ $json.custom_fields }}',\n    {{ $json.gdpr_consent }},\n    '{{ $json.domain }}'\n)\nON CONFLICT (session_id) DO UPDATE SET\n    name = EXCLUDED.name,\n    email = EXCLUDED.email,\n    phone = EXCLUDED.phone,\n    company = EXCLUDED.company,\n    custom_fields = EXCLUDED.custom_fields,\n    updated_at = NOW()\nRETURNING id, session_id, name, email, created_at;",
        "options": {}
      },
      "id": "7d414bab-8f7f-4fda-9f69-c85c68a16832",
      "name": "Save PreChat Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        64,
        912
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем данные для Audit Log\nconst transformData = $('Transform PreChat Data').first().json;\nconst saveResult = $('Save PreChat Data').first().json || {};\n\n// Формируем JSON для details\nconst details = JSON.stringify({\n    form_type: \"prechat\",\n    fields_collected: transformData.data_categories,\n    gdpr_consent: transformData.gdpr_consent,\n    gdpr_article: \"Art. 13/14 - Information to be provided\"\n});\n\n// Формируем строку для ARRAY[] в PostgreSQL\nconst dataCategoriesArray = transformData.data_categories.map(c => \"'\" + c + \"'\").join(', ');\n\nreturn [{\n    json: {\n        session_id: transformData.session_id,\n        action: 'personal_data_collected',\n        details: details,\n        ip_address: transformData.ip_address,\n        user_agent: transformData.user_agent,\n        domain: transformData.domain,\n        purpose: 'lead_qualification',\n        legal_basis: 'consent',\n        controller: transformData.domain,\n        data_categories_sql: dataCategoriesArray,\n        // Данные для ответа\n        submission_id: saveResult.id || null,\n        submission_session_id: saveResult.session_id || transformData.session_id\n    }\n}];"
      },
      "id": "310a3b45-84eb-4a3e-a61f-c876d0dde5ed",
      "name": "Prepare Audit Data PreChat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        912
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- GDPR Art. 13/14: Логируем сбор персональных данных\nINSERT INTO gdpr_audit_log (\n    session_id,\n    action,\n    details,\n    ip_address,\n    user_agent,\n    domain,\n    purpose,\n    legal_basis,\n    controller,\n    data_categories\n) VALUES (\n    '{{ $json.session_id }}',\n    '{{ $json.action }}',\n    '{{ $json.details.replace(/'/g, \"''\") }}',\n    {{ $json.ip_address ? \"'\" + $json.ip_address + \"'\" : 'NULL' }},\n    {{ $json.user_agent ? \"'\" + $json.user_agent.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n    '{{ $json.domain }}',\n    '{{ $json.purpose }}',\n    '{{ $json.legal_basis }}',\n    '{{ $json.controller }}',\n    ARRAY[{{ $json.data_categories_sql }}]\n)\nRETURNING id;",
        "options": {}
      },
      "id": "93d6863d-2bc7-48d8-abe0-9bdf523ed2aa",
      "name": "Audit Log PreChat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        512,
        912
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем ответ\nconst auditData = $('Prepare Audit Data PreChat').first().json;\n\nreturn [{\n    json: {\n        success: true,\n        message: 'Form submitted',\n        submissionId: auditData.submission_id,\n        sessionId: auditData.submission_session_id\n    }\n}];"
      },
      "id": "be8016f7-d81b-4941-a213-5ecaedcd53a9",
      "name": "Prepare PreChat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        912
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "4c0ec477-0067-4a76-9d61-0072dc723a33",
      "name": "PreChat Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        912
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        1072
      ],
      "id": "382e4dbd-003f-407f-856c-fd72ecf5935b",
      "name": "Error Response PreChat"
    }
  ],
  "pinData": {},
  "connections": {
    "GDPR Data Access Webhook": {
      "main": [
        [
          {
            "node": "Security Check Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Check Access": {
      "main": [
        [
          {
            "node": "Auth Check Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check Access": {
      "main": [
        [
          {
            "node": "Parse Access Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Access Request": {
      "main": [
        [
          {
            "node": "Get User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Data": {
      "main": [
        [
          {
            "node": "Format Access Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Access Response": {
      "main": [
        [
          {
            "node": "Audit Log Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log Access": {
      "main": [
        [
          {
            "node": "Respond Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Consent Revoke": {
      "main": [
        [
          {
            "node": "Security Check Revoke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Check Revoke": {
      "main": [
        [
          {
            "node": "Auth Check Revoke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check Revoke": {
      "main": [
        [
          {
            "node": "Transform Revoke Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response Revoke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Revoke Data": {
      "main": [
        [
          {
            "node": "Revoke Consent in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revoke Consent in DB": {
      "main": [
        [
          {
            "node": "Prepare Audit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Data": {
      "main": [
        [
          {
            "node": "Save Audit Log Revoke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audit Log Revoke": {
      "main": [
        [
          {
            "node": "Prepare Revoke Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Revoke Response": {
      "main": [
        [
          {
            "node": "Success Response Revoke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDPR Data Export Webhook": {
      "main": [
        [
          {
            "node": "Security Check Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Check Export": {
      "main": [
        [
          {
            "node": "Auth Check Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check Export": {
      "main": [
        [
          {
            "node": "Parse Export Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Export Request": {
      "main": [
        [
          {
            "node": "Get All Consents Export",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Profile Data Export",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Chat History Export",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Audit Log Export",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Monitoring Data Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Consents Export": {
      "main": [
        [
          {
            "node": "Merge Export Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile Data Export": {
      "main": [
        [
          {
            "node": "Merge Export Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Chat History Export": {
      "main": [
        [
          {
            "node": "Merge Export Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Audit Log Export": {
      "main": [
        [
          {
            "node": "Merge Export Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Get Monitoring Data Export": {
      "main": [
        [
          {
            "node": "Merge Export Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge Export Data": {
      "main": [
        [
          {
            "node": "Format Export Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Export Data": {
      "main": [
        [
          {
            "node": "Prepare Audit Data Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Data Export": {
      "main": [
        [
          {
            "node": "Audit Log Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log Export": {
      "main": [
        [
          {
            "node": "Respond Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Delete Session": {
      "main": [
        [
          {
            "node": "Security Check Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Check Delete": {
      "main": [
        [
          {
            "node": "Auth Check Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check Delete": {
      "main": [
        [
          {
            "node": "Transform Delete Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Delete Data": {
      "main": [
        [
          {
            "node": "Delete from PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from PostgreSQL": {
      "main": [
        [
          {
            "node": "Prepare Audit Data Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Data Delete": {
      "main": [
        [
          {
            "node": "Audit Log Erasure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log Erasure": {
      "main": [
        [
          {
            "node": "Prepare Delete Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delete Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Security Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Check": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Save Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Consent": {
      "main": [
        [
          {
            "node": "Prepare Audit Data Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Data Consent": {
      "main": [
        [
          {
            "node": "Audit Log Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log Consent": {
      "main": [
        [
          {
            "node": "Check PreChat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PreChat Data": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook PreChat": {
      "main": [
        [
          {
            "node": "Security Check PreChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Check PreChat": {
      "main": [
        [
          {
            "node": "Auth Check PreChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check PreChat": {
      "main": [
        [
          {
            "node": "Transform PreChat Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response PreChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform PreChat Data": {
      "main": [
        [
          {
            "node": "Save PreChat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PreChat Data": {
      "main": [
        [
          {
            "node": "Prepare Audit Data PreChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Data PreChat": {
      "main": [
        [
          {
            "node": "Audit Log PreChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log PreChat": {
      "main": [
        [
          {
            "node": "Prepare PreChat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PreChat Response": {
      "main": [
        [
          {
            "node": "PreChat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04af0e57-8e87-438a-8879-fc7a48e0bd52",
  "meta": {
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "rbcr7bc4UpZztsoq",
  "tags": []
}