MAIN/GDPR/GDPR Audit Report Generator.json
{
  "name": "GDPR Audit Report Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gdpr-audit-report",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "65f1f540-d5d1-4abd-b4e6-7127114519dd",
      "name": "Webhook Audit Report",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6736,
        -752
      ],
      "webhookId": "gdpr-audit-report-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ЗАЩИТА: API KEY + RATE LIMITING\n// ============================================\n\nconst API_KEY = '24fs-$r4d-defd-77ds-7eds';\nconst RATE_LIMIT_WINDOW_MS = 60000;\nconst RATE_LIMIT_MAX_REQUESTS = 30;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', status: 429 } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey || providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Unauthorized', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6544,
        -752
      ],
      "id": "74522d2f-b055-43df-8053-e761f7bc5cfa",
      "name": "Security Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6336,
        -752
      ],
      "id": "cc497cdd-69f5-4514-a0d6-9e1547a464cd",
      "name": "Auth Check"
    },
    {
      "parameters": {
        "jsCode": "// Парсим параметры запроса\nconst webhookData = items[0].json;\nconst body = webhookData.body || webhookData;\n\nconst sessionId = body.sessionId || body.session_id || null;\nconst email = body.email || null;\nconst format = body.format || 'json';\n\n// Валидация - нужен хотя бы один параметр поиска\nif (!sessionId && !email) {\n    throw new Error('Please provide Session ID or Email to search');\n}\n\nreturn [{\n    json: {\n        session_id: sessionId,\n        email: email ? email.toLowerCase().trim() : null,\n        format: format,\n        search_by: sessionId ? 'session_id' : 'email',\n        requested_at: new Date().toISOString()\n    }\n}];"
      },
      "id": "ec5f5768-87be-47fd-9afd-b44727f38587",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6144,
        -816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-session-id",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5936,
        -816
      ],
      "id": "154dc21b-fd9e-4717-98d4-aae7850429ca",
      "name": "Has Session ID?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Ищем session_id по email в user_contact_data и prechat_submissions\nSELECT DISTINCT session_id, email, 'user_contact_data' as source\nFROM user_contact_data\nWHERE LOWER(email) = LOWER('{{ $json.email }}')\n\nUNION\n\nSELECT DISTINCT session_id, email, 'prechat_submissions' as source\nFROM prechat_submissions\nWHERE LOWER(email) = LOWER('{{ $json.email }}');",
        "options": {}
      },
      "id": "cdb2edad-e087-4102-8e34-b24974028201",
      "name": "Find Sessions by Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5712,
        -720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Собираем найденные session_id\nconst requestData = $('Parse Request').first().json;\nconst emailResults = $('Find Sessions by Email').all().map(i => i.json).filter(i => i && i.session_id);\n\nif (emailResults.length === 0) {\n    // Email не найден ни в одной таблице\n    return [{\n        json: {\n            session_ids: [],\n            email: requestData.email,\n            found: false,\n            format: requestData.format,\n            message: 'No sessions found for this email'\n        }\n    }];\n}\n\n// Собираем уникальные session_id\nconst sessionIds = [...new Set(emailResults.map(r => r.session_id))];\n\nreturn [{\n    json: {\n        session_ids: sessionIds,\n        email: requestData.email,\n        found: true,\n        format: requestData.format,\n        sources: emailResults.map(r => ({ session_id: r.session_id, source: r.source }))\n    }\n}];"
      },
      "id": "5a000832-fecb-498f-9871-acd6a7fc5d0e",
      "name": "Prepare Session IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5488,
        -720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем данные для прямого поиска по session_id\nconst requestData = $('Parse Request').first().json;\n\nreturn [{\n    json: {\n        session_ids: [requestData.session_id],\n        session_id: requestData.session_id,\n        email: null,\n        found: true,\n        format: requestData.format\n    }\n}];"
      },
      "id": "7d936880-eeeb-45c4-a3a7-c846dd96a863",
      "name": "Prepare Direct Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5712,
        -912
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-sessions",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5280,
        -832
      ],
      "id": "4fc83f35-53ac-4b06-bcba-b9c60be729b1",
      "name": "Sessions Found?"
    },
    {
      "parameters": {
        "jsCode": "// Формируем SQL IN clause для session_ids\nconst data = items[0].json;\nconst sessionIds = data.session_ids || [];\n\n// Формируем строку для SQL IN\nconst sessionIdsSQL = sessionIds.map(id => `'${id}'`).join(', ');\n\nreturn [{\n    json: {\n        ...data,\n        session_ids_sql: sessionIdsSQL\n    }\n}];"
      },
      "id": "b8cf4df6-652b-4c47-821d-7dbb1803da96",
      "name": "Prepare SQL Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5056,
        -896
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    id,\n    session_id,\n    action,\n    details,\n    ip_address,\n    user_agent,\n    domain,\n    created_at,\n    purpose,\n    legal_basis,\n    controller,\n    data_categories,\n    privacy_policy_version\nFROM gdpr_audit_log\nWHERE session_id IN ({{ $json.session_ids_sql }})\nORDER BY created_at ASC;",
        "options": {}
      },
      "id": "f3fde601-9599-42df-bb5b-1cb417fef55a",
      "name": "Get Audit Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4848,
        -1088
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id,\n    user_email,\n    consent_given,\n    consent_type,\n    privacy_policy_version,\n    is_active,\n    revoked_at,\n    revoke_reason,\n    created_at,\n    expires_at,\n    domain\nFROM gdpr_consents\nWHERE session_id IN ({{ $('Prepare SQL Query').first().json.session_ids_sql }})\nORDER BY created_at ASC;",
        "options": {}
      },
      "id": "f1af2c44-694b-418f-9f4b-82b239889c79",
      "name": "Get Consent Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4848,
        -896
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Получаем email и имя с приоритетом: prechat_submissions → user_contact_data\nSELECT DISTINCT ON (session_id)\n    session_id,\n    email,\n    name,\n    source,\n    created_at\nFROM (\n    -- Приоритет 1: prechat_submissions\n    SELECT \n        session_id, \n        email, \n        name,\n        'prechat_submissions' as source,\n        1 as priority,\n        created_at\n    FROM prechat_submissions\n    WHERE session_id IN ({{ $('Prepare SQL Query').first().json.session_ids_sql }})\n    AND (email IS NOT NULL AND email != '')\n\n    UNION ALL\n\n    -- Приоритет 2: user_contact_data (fallback)\n    SELECT \n        session_id, \n        email, \n        COALESCE(full_name, CONCAT_WS(' ', first_name, last_name)) as name,\n        'user_contact_data' as source,\n        2 as priority,\n        created_at\n    FROM user_contact_data\n    WHERE session_id IN ({{ $('Prepare SQL Query').first().json.session_ids_sql }})\n    AND (email IS NOT NULL AND email != '')\n) combined\nORDER BY session_id, priority, created_at DESC;",
        "options": {}
      },
      "id": "4b39dbac-7ead-4b36-8b1f-2795cb8e8d57",
      "name": "Get User Emails",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4832,
        -704
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4608,
        -912
      ],
      "id": "665cb76b-5810-4592-8e76-dc21b3a686a1",
      "name": "Merge Audit+Consent"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4432,
        -816
      ],
      "id": "72162c8a-dfd7-45e8-850f-f37f6f7aede3",
      "name": "Merge All Data"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ⚙️ CONFIGURATION - MODIFY FOR YOUR COMPANY\n// ============================================\nconst CONFIG = {\n    // Company role under GDPR: 'Data Controller' or 'Data Processor'\n    // Example: 'Data Controller'\n    companyRole: 'Data Processor',\n    \n    // DPO (Data Protection Officer) email address\n    // Use null for auto-generation from domain (dpo@yourdomain.com)\n    // Example: 'privacy@yourcompany.com' or 'dpo@yourcompany.com' or null\n    dpoEmail: null,\n    \n    // Legal basis for data processing (GDPR Article 6)\n    // Example: 'Consent (GDPR Article 6(1)(a))'\n    // Example: 'Contract (GDPR Article 6(1)(b))'\n    // Example: 'Legitimate Interest (GDPR Article 6(1)(f))'\n    legalBasis: 'Consent (GDPR Article 6(1)(a))',\n    \n    // Purposes of data processing (array of strings)\n    // Example: ['marketing', 'analytics', 'customer_support']\n    processingPurposes: [\n        'lead_qualification',\n        'customer_support'\n    ],\n    \n    // Data retention periods (displayed in report)\n    // Modify values according to your data retention policy\n    retentionPolicy: {\n        chatHistory: '365 days',\n        consentRecords: '5 years (legal requirement)',\n        auditLogs: '7 years (accountability requirement)'\n    },\n    \n    // Data protection measures (displayed in report)\n    // Add or remove items according to your security measures\n    dataProtectionMeasures: [\n        'Data encrypted in transit (TLS 1.3)',\n        'Data encrypted at rest (AES-256)',\n        'Access controls implemented',\n        'Audit logging enabled',\n        'Regular security assessments'\n    ],\n    \n    // Data subject rights (displayed in report)\n    // Standard GDPR rights - usually no changes needed\n    dataSubjectRights: [\n        'Right of Access (Article 15)',\n        'Right to Rectification (Article 16)',\n        'Right to Erasure (Article 17)',\n        'Right to Restriction (Article 18)',\n        'Right to Data Portability (Article 20)',\n        'Right to Object (Article 21)'\n    ]\n};\n// ============================================\n// ⛔ DO NOT MODIFY CODE BELOW THIS LINE\n// ============================================\n\n// Формируем полный отчёт GDPR Audit\nconst searchParams = $('Prepare SQL Query').first().json;\n\n// Получаем данные из всех нод\nlet auditLogs = [];\nlet consentRecords = [];\nlet userEmails = [];\n\ntry {\n    const auditLogsRaw = $('Get Audit Logs').all();\n    auditLogs = auditLogsRaw\n        .map(i => i.json)\n        .filter(item => item && item.id);\n} catch (e) {\n    auditLogs = [];\n}\n\ntry {\n    const consentRecordsRaw = $('Get Consent Records').all();\n    consentRecords = consentRecordsRaw\n        .map(i => i.json)\n        .filter(item => item && item.session_id);\n} catch (e) {\n    consentRecords = [];\n}\n\ntry {\n    const userEmailsRaw = $('Get User Emails').all();\n    userEmails = userEmailsRaw\n        .map(i => i.json)\n        .filter(item => item && item.email);\n} catch (e) {\n    userEmails = [];\n}\n\n// Создаём маппинг session_id -> email/name\nconst sessionEmailMap = {};\nuserEmails.forEach(u => {\n    if (!sessionEmailMap[u.session_id]) {\n        sessionEmailMap[u.session_id] = {\n            email: u.email,\n            name: u.name,\n            source: u.source\n        };\n    }\n});\n\n// Определяем основной email (первый найденный или из параметров поиска)\nconst primaryEmail = searchParams.email || (userEmails[0]?.email) || null;\nconst primaryName = userEmails[0]?.name || null;\n\n// Если нет данных\nif (auditLogs.length === 0 && consentRecords.length === 0) {\n    return [{\n        json: {\n            report: {\n                reportMetadata: {\n                    title: 'GDPR Article 30 - Record of Processing Activities',\n                    subtitle: 'Data Subject Audit Report',\n                    generatedAt: new Date().toISOString(),\n                    generatedBy: 'GDPR Compliance System',\n                    reportFormat: searchParams.format,\n                    queryParameters: {\n                        sessionIds: searchParams.session_ids,\n                        email: searchParams.email\n                    },\n                    noDataFound: true\n                },\n                dataSubjectSummary: {\n                    sessionIds: searchParams.session_ids,\n                    email: searchParams.email,\n                    totalAuditRecords: 0,\n                    totalConsentRecords: 0,\n                    dataCategories: [],\n                    actionBreakdown: {}\n                },\n                processingActivities: [],\n                consentHistory: [],\n                message: 'No audit records found for the specified criteria'\n            },\n            format: searchParams.format,\n            session_ids: searchParams.session_ids,\n            email: searchParams.email,\n            totalRecords: 0\n        }\n    }];\n}\n\n// Определяем контроллера и домен\nconst primaryDomain = auditLogs[0]?.domain || consentRecords[0]?.domain || 'Unknown';\nconst controller = auditLogs[0]?.controller || primaryDomain;\nconst cleanDomain = String(primaryDomain).replace(/^https?:\\/\\//, '').split('/')[0];\n\n// DPO email - из конфига или автогенерация\nconst dpoEmail = CONFIG.dpoEmail || ('dpo@' + cleanDomain);\n\n// Статистика по действиям\nconst actionStats = {};\nauditLogs.forEach(log => {\n    if (log.action) {\n        actionStats[log.action] = (actionStats[log.action] || 0) + 1;\n    }\n});\n\n// Уникальные категории данных\nconst allCategories = new Set();\nauditLogs.forEach(log => {\n    if (log.data_categories && Array.isArray(log.data_categories)) {\n        log.data_categories.forEach(cat => allCategories.add(cat));\n    }\n});\n\n// Уникальные session_id в результатах\nconst uniqueSessionIds = [...new Set(auditLogs.map(l => l.session_id))];\n\n// Формируем отчёт\nconst report = {\n    reportMetadata: {\n        title: 'GDPR Article 30 - Record of Processing Activities',\n        subtitle: 'Data Subject Audit Report',\n        generatedAt: new Date().toISOString(),\n        generatedBy: 'GDPR Compliance System',\n        reportFormat: searchParams.format,\n        queryParameters: {\n            sessionIds: searchParams.session_ids,\n            email: primaryEmail,\n            searchedBy: searchParams.email ? 'email' : 'session_id'\n        }\n    },\n    \n    controllerInformation: {\n        name: controller,\n        domain: primaryDomain,\n        role: CONFIG.companyRole,\n        contactDpo: dpoEmail\n    },\n    \n    dataSubjectInformation: {\n        email: primaryEmail,\n        name: primaryName,\n        sessionIds: uniqueSessionIds,\n        emailSources: userEmails.map(u => ({\n            sessionId: u.session_id,\n            email: u.email,\n            name: u.name,\n            source: u.source\n        }))\n    },\n    \n    dataSubjectSummary: {\n        sessionIds: uniqueSessionIds,\n        email: primaryEmail,\n        name: primaryName,\n        totalAuditRecords: auditLogs.length,\n        totalConsentRecords: consentRecords.length,\n        firstActivity: auditLogs[0]?.created_at || null,\n        lastActivity: auditLogs[auditLogs.length - 1]?.created_at || null,\n        dataCategories: Array.from(allCategories),\n        actionBreakdown: actionStats\n    },\n    \n    legalBasis: {\n        primaryBasis: CONFIG.legalBasis,\n        purposes: CONFIG.processingPurposes,\n        retentionPolicy: CONFIG.retentionPolicy\n    },\n    \n    consentHistory: consentRecords.map(consent => {\n        // Подтягиваем email из sessionEmailMap если нет в consent\n        const emailInfo = sessionEmailMap[consent.session_id] || {};\n        return {\n            sessionId: consent.session_id,\n            email: consent.user_email || emailInfo.email || null,\n            name: emailInfo.name || null,\n            consentGiven: consent.consent_given,\n            consentType: consent.consent_type,\n            privacyPolicyVersion: consent.privacy_policy_version,\n            isActive: consent.is_active,\n            createdAt: consent.created_at,\n            expiresAt: consent.expires_at,\n            revokedAt: consent.revoked_at,\n            revokeReason: consent.revoke_reason\n        };\n    }),\n    \n    processingActivities: auditLogs.map(log => {\n        let parsedDetails = {};\n        try {\n            parsedDetails = typeof log.details === 'string' ? JSON.parse(log.details) : (log.details || {});\n        } catch (e) {\n            parsedDetails = { raw: log.details };\n        }\n        \n        // Подтягиваем email для этой сессии\n        const emailInfo = sessionEmailMap[log.session_id] || {};\n        \n        return {\n            id: log.id,\n            sessionId: log.session_id,\n            email: emailInfo.email || null,\n            name: emailInfo.name || null,\n            timestamp: log.created_at,\n            action: log.action,\n            actionDescription: getActionDescription(log.action),\n            gdprArticle: getGdprArticle(log.action),\n            purpose: log.purpose,\n            legalBasis: log.legal_basis,\n            controller: log.controller,\n            dataCategories: log.data_categories,\n            details: parsedDetails,\n            technicalInfo: {\n                ipAddress: log.ip_address,\n                userAgent: log.user_agent,\n                domain: log.domain\n            },\n            privacyPolicyVersion: log.privacy_policy_version\n        };\n    }),\n    \n    complianceStatement: {\n        declaration: 'This report is generated in accordance with GDPR Article 30 requirements for maintaining records of processing activities.',\n        dataProtectionMeasures: CONFIG.dataProtectionMeasures,\n        dataSubjectRights: CONFIG.dataSubjectRights\n    }\n};\n\nfunction getActionDescription(action) {\n    const descriptions = {\n        'consent_given': 'Data subject provided consent for data processing',\n        'consent_declined': 'Data subject declined consent for data processing',\n        'consent_revoked': 'Data subject withdrew previously given consent',\n        'data_access': 'Data subject requested access to their personal data',\n        'data_export': 'Data subject requested export of their personal data',\n        'data_erasure': 'Data subject requested deletion of their personal data',\n        'personal_data_collected': 'Personal data was collected from data subject'\n    };\n    return descriptions[action] || action;\n}\n\nfunction getGdprArticle(action) {\n    const articles = {\n        'consent_given': 'Article 7 - Conditions for consent',\n        'consent_declined': 'Article 7 - Conditions for consent',\n        'consent_revoked': 'Article 7(3) - Right to withdraw consent',\n        'data_access': 'Article 15 - Right of access',\n        'data_export': 'Article 20 - Right to data portability',\n        'data_erasure': 'Article 17 - Right to erasure',\n        'personal_data_collected': 'Article 13/14 - Information to be provided'\n    };\n    return articles[action] || 'Article 30 - Records of processing activities';\n}\n\nreturn [{\n    json: {\n        report: report,\n        format: searchParams.format,\n        session_ids: searchParams.session_ids,\n        email: primaryEmail,\n        totalRecords: auditLogs.length\n    }\n}];"
      },
      "id": "f9a07d4a-f925-44c7-a937-7e4b81b7c20c",
      "name": "Format Audit Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4240,
        -816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "format-pdf",
              "leftValue": "={{ $json.format }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4016,
        -816
      ],
      "id": "1dd2e2e3-d53c-4d94-865d-3e5c94c9bf20",
      "name": "Is PDF?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "format-csv",
              "leftValue": "={{ $json.format }}",
              "rightValue": "csv",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3792,
        -720
      ],
      "id": "021bc435-5901-4dc9-bd9f-29b5c482a7b1",
      "name": "Is CSV?"
    },
    {
      "parameters": {
        "jsCode": "// Генерируем CSV\nconst reportData = items[0].json;\nconst report = reportData.report;\nconst activities = report.processingActivities || [];\nconst dataSubject = report.dataSubjectInformation || {};\nconst sessionIds = dataSubject.sessionIds || report.reportMetadata?.queryParameters?.sessionIds || [];\nconst primaryEmail = dataSubject.email || report.dataSubjectSummary?.email || '';\nconst primaryName = dataSubject.name || report.dataSubjectSummary?.name || '';\n\nif (activities.length === 0) {\n    return [{\n        json: {\n            success: true,\n            format: 'csv',\n            filename: `gdpr_audit_report_${new Date().toISOString().split('T')[0]}.csv`,\n            content: 'No data found for the specified criteria',\n            contentType: 'text/csv; charset=utf-8',\n            totalRecords: 0\n        }\n    }];\n}\n\n// Функция экранирования CSV\nfunction escapeCSV(value) {\n    if (value === null || value === undefined) return '';\n    const str = String(value);\n    if (str.includes(',') || str.includes('\"') || str.includes('\\n')) {\n        return '\"' + str.replace(/\"/g, '\"\"') + '\"';\n    }\n    return str;\n}\n\n// Метаданные отчёта в начале CSV\nconst metadata = [\n    `# GDPR Article 30 Audit Report`,\n    `# Generated: ${report.reportMetadata?.generatedAt || new Date().toISOString()}`,\n    `# Data Subject Email: ${primaryEmail || 'N/A'}`,\n    `# Data Subject Name: ${primaryName || 'N/A'}`,\n    `# Session IDs: ${sessionIds.join('; ') || 'N/A'}`,\n    `# Controller: ${report.controllerInformation?.name || 'N/A'}`,\n    `# Total Records: ${activities.length}`,\n    ``\n];\n\nconst headers = [\n    'ID', 'Session ID', 'Email', 'Name', 'Timestamp', 'Action', 'Action Description', 'GDPR Article',\n    'Purpose', 'Legal Basis', 'Controller', 'Data Categories', 'IP Address', 'Domain', 'Details'\n];\n\nconst rows = activities.map(act => [\n    act.id,\n    act.sessionId,\n    act.email || primaryEmail,\n    act.name || primaryName,\n    act.timestamp,\n    act.action,\n    act.actionDescription,\n    act.gdprArticle,\n    act.purpose,\n    act.legalBasis,\n    act.controller,\n    Array.isArray(act.dataCategories) ? act.dataCategories.join('; ') : '',\n    act.technicalInfo?.ipAddress || '',\n    act.technicalInfo?.domain || '',\n    JSON.stringify(act.details || {})\n]);\n\n// BOM для UTF-8 (чтобы Excel правильно читал кириллицу)\nconst BOM = '\\uFEFF';\n\nconst csvContent = BOM + [\n    ...metadata,\n    headers.map(escapeCSV).join(','),\n    ...rows.map(row => row.map(escapeCSV).join(','))\n].join('\\n');\n\nreturn [{\n    json: {\n        success: true,\n        format: 'csv',\n        filename: `gdpr_audit_report_${new Date().toISOString().split('T')[0]}.csv`,\n        content: csvContent,\n        contentType: 'text/csv; charset=utf-8',\n        totalRecords: activities.length\n    }\n}];"
      },
      "id": "af595fb0-aefa-4095-9274-152b63acc286",
      "name": "Generate CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3568,
        -768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Возвращаем JSON отчёт\nconst reportData = items[0].json;\nconst report = reportData.report;\nconst dataSubject = report.dataSubjectInformation || {};\nconst sessionIds = dataSubject.sessionIds || report.reportMetadata?.queryParameters?.sessionIds || [];\n\nreturn [{\n    json: {\n        success: true,\n        format: 'json',\n        filename: `gdpr_audit_report_${new Date().toISOString().split('T')[0]}.json`,\n        contentType: 'application/json',\n        totalRecords: reportData.totalRecords || 0,\n        summary: {\n            email: dataSubject.email || null,\n            name: dataSubject.name || null,\n            sessionIds: sessionIds,\n            totalActivities: report.dataSubjectSummary?.totalAuditRecords || 0,\n            totalConsents: report.dataSubjectSummary?.totalConsentRecords || 0\n        },\n        data: report\n    }\n}];"
      },
      "id": "4d6ac4a8-511d-42fe-8eca-ef9c0a7da7c9",
      "name": "Return JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3568,
        -608
      ]
    },
    {
      "parameters": {
        "jsCode": "// Генерируем HTML для PDF\nconst reportData = items[0].json;\nconst report = reportData.report;\n\nconst hasData = report.processingActivities && report.processingActivities.length > 0;\nconst noDataMessage = report.message || 'No records found for the specified criteria';\n\n// Информация о субъекте данных\nconst dataSubject = report.dataSubjectInformation || {};\nconst primaryEmail = dataSubject.email || report.dataSubjectSummary?.email || 'N/A';\nconst primaryName = dataSubject.name || report.dataSubjectSummary?.name || '';\nconst sessionIds = dataSubject.sessionIds || report.reportMetadata?.queryParameters?.sessionIds || [];\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>GDPR Audit Report</title>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: 'Segoe UI', Arial, sans-serif; font-size: 11pt; line-height: 1.5; color: #333; padding: 40px; }\n        .header { text-align: center; border-bottom: 3px solid #2563eb; padding-bottom: 20px; margin-bottom: 30px; }\n        .header h1 { color: #1e40af; font-size: 22pt; margin-bottom: 5px; }\n        .header h2 { color: #64748b; font-size: 14pt; font-weight: normal; }\n        .meta { background: #f8fafc; padding: 15px; border-radius: 8px; margin-bottom: 25px; }\n        .meta-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; }\n        .meta-item { font-size: 10pt; }\n        .meta-label { color: #64748b; font-weight: 600; }\n        .section { margin-bottom: 25px; }\n        .section-title { color: #1e40af; font-size: 14pt; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; margin-bottom: 15px; }\n        .info-box { background: #f1f5f9; padding: 15px; border-radius: 8px; margin-bottom: 15px; }\n        .stats-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px; margin-bottom: 20px; }\n        .stat-card { background: #fff; border: 1px solid #e2e8f0; border-radius: 8px; padding: 15px; text-align: center; }\n        .stat-value { font-size: 24pt; font-weight: bold; color: #2563eb; }\n        .stat-label { font-size: 9pt; color: #64748b; text-transform: uppercase; }\n        table { width: 100%; border-collapse: collapse; margin-bottom: 20px; font-size: 9pt; }\n        th { background: #1e40af; color: white; padding: 10px 8px; text-align: left; }\n        td { padding: 8px; border-bottom: 1px solid #e2e8f0; vertical-align: top; }\n        tr:nth-child(even) { background: #f8fafc; }\n        .action-badge { display: inline-block; padding: 3px 8px; border-radius: 4px; font-size: 8pt; font-weight: 600; }\n        .action-consent_given { background: #dcfce7; color: #166534; }\n        .action-consent_revoked { background: #fee2e2; color: #991b1b; }\n        .action-data_access { background: #dbeafe; color: #1e40af; }\n        .action-data_export { background: #fef3c7; color: #92400e; }\n        .action-data_erasure { background: #fce7f3; color: #9d174d; }\n        .action-personal_data_collected { background: #e0e7ff; color: #3730a3; }\n        .footer { margin-top: 40px; padding-top: 20px; border-top: 2px solid #e2e8f0; font-size: 9pt; color: #64748b; }\n        .compliance-list { list-style: none; }\n        .compliance-list li { padding: 5px 0; padding-left: 20px; position: relative; }\n        .compliance-list li::before { content: \"✓\"; position: absolute; left: 0; color: #22c55e; font-weight: bold; }\n        .no-data { text-align: center; padding: 40px; background: #fef3c7; border-radius: 8px; color: #92400e; }\n        .data-subject-box { background: #eff6ff; border: 1px solid #bfdbfe; padding: 15px; border-radius: 8px; margin-bottom: 20px; }\n        .data-subject-box h4 { color: #1e40af; margin-bottom: 10px; }\n        .session-id { font-family: monospace; font-size: 9pt; word-break: break-all; }\n        @media print { body { padding: 20px; } .section { page-break-inside: avoid; } }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>GDPR Article 30 Compliance Report</h1>\n        <h2>Record of Processing Activities - Data Subject Audit</h2>\n    </div>\n    \n    <div class=\"meta\">\n        <div class=\"meta-grid\">\n            <div class=\"meta-item\"><span class=\"meta-label\">Report Generated:</span> ${report.reportMetadata?.generatedAt || new Date().toISOString()}</div>\n            <div class=\"meta-item\"><span class=\"meta-label\">Search Method:</span> ${report.reportMetadata?.queryParameters?.searchedBy === 'email' ? 'Email' : 'Session ID'}</div>\n            <div class=\"meta-item\"><span class=\"meta-label\">Controller:</span> ${report.controllerInformation?.name || 'N/A'}</div>\n            <div class=\"meta-item\"><span class=\"meta-label\">Domain:</span> ${report.controllerInformation?.domain || 'N/A'}</div>\n        </div>\n    </div>\n    \n    <!-- Data Subject Information -->\n    <div class=\"data-subject-box\">\n        <h4>👤 Data Subject Information</h4>\n        <div class=\"meta-grid\">\n            <div class=\"meta-item\"><span class=\"meta-label\">Email:</span> ${primaryEmail}</div>\n            <div class=\"meta-item\"><span class=\"meta-label\">Name:</span> ${primaryName || 'N/A'}</div>\n        </div>\n        <div style=\"margin-top: 10px;\">\n            <div class=\"meta-item\"><span class=\"meta-label\">Session ID:</span> <span class=\"session-id\">${sessionIds.join(', ') || 'N/A'}</span></div>\n        </div>\n        <div class=\"meta-grid\" style=\"margin-top: 10px;\">\n            <div class=\"meta-item\"><span class=\"meta-label\">Total Sessions:</span> ${sessionIds.length || 1}</div>\n            <div class=\"meta-item\"><span class=\"meta-label\">Data Sources:</span> ${[...new Set((dataSubject.emailSources || []).map(s => s.source))].join(', ') || 'N/A'}</div>\n        </div>\n    </div>\n    \n    ${!hasData ? `\n    <div class=\"no-data\">\n        <h3>⚠️ No Data Found</h3>\n        <p>${noDataMessage}</p>\n    </div>\n    ` : `\n    <div class=\"section\">\n        <h3 class=\"section-title\">Summary Statistics</h3>\n        <div class=\"stats-grid\">\n            <div class=\"stat-card\">\n                <div class=\"stat-value\">${report.dataSubjectSummary?.totalAuditRecords || 0}</div>\n                <div class=\"stat-label\">Total Processing Activities</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-value\">${report.dataSubjectSummary?.totalConsentRecords || 0}</div>\n                <div class=\"stat-label\">Consent Records</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-value\">${report.dataSubjectSummary?.dataCategories?.length || 0}</div>\n                <div class=\"stat-label\">Data Categories</div>\n            </div>\n        </div>\n        <div class=\"info-box\">\n            <strong>Activity Period:</strong> ${report.dataSubjectSummary?.firstActivity || 'N/A'} — ${report.dataSubjectSummary?.lastActivity || 'N/A'}\n        </div>\n    </div>\n    \n    <div class=\"section\">\n        <h3 class=\"section-title\">Legal Basis & Data Categories</h3>\n        <div class=\"info-box\">\n            <p><strong>Legal Basis:</strong> ${report.legalBasis?.primaryBasis || 'Consent'}</p>\n            <p><strong>Processing Purposes:</strong> ${report.legalBasis?.purposes?.join(', ') || 'N/A'}</p>\n            <p><strong>Data Categories Processed:</strong> ${report.dataSubjectSummary?.dataCategories?.join(', ') || 'None'}</p>\n        </div>\n    </div>\n    \n    <div class=\"section\">\n        <h3 class=\"section-title\">Processing Activities Log</h3>\n        <table>\n            <thead>\n                <tr>\n                    <th style=\"width:12%\">Timestamp</th>\n                    <th style=\"width:10%\">Session</th>\n                    <th style=\"width:12%\">Action</th>\n                    <th style=\"width:22%\">GDPR Article</th>\n                    <th style=\"width:12%\">Purpose</th>\n                    <th style=\"width:32%\">Details</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${(report.processingActivities || []).map(act => `\n                <tr>\n                    <td>${act.timestamp ? new Date(act.timestamp).toLocaleString('en-GB') : 'N/A'}</td>\n                    <td style=\"font-size:7pt;word-break:break-all;\">${(act.sessionId || '').slice(-12)}</td>\n                    <td><span class=\"action-badge action-${act.action}\">${(act.action || '').replace(/_/g, ' ')}</span></td>\n                    <td>${act.gdprArticle || '-'}</td>\n                    <td>${act.purpose || '-'}</td>\n                    <td>${act.actionDescription || '-'}<br><small style=\"color:#64748b\">IP: ${act.technicalInfo?.ipAddress || 'N/A'}</small></td>\n                </tr>\n                `).join('')}\n            </tbody>\n        </table>\n    </div>\n    \n    ${report.consentHistory && report.consentHistory.length > 0 ? `\n    <div class=\"section\">\n        <h3 class=\"section-title\">Consent History</h3>\n        <table>\n            <thead>\n                <tr>\n                    <th>Date</th>\n                    <th>Email</th>\n                    <th>Name</th>\n                    <th>Type</th>\n                    <th>Status</th>\n                    <th>Revoked</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${report.consentHistory.map(c => `\n                <tr>\n                    <td>${c.createdAt ? new Date(c.createdAt).toLocaleString('en-GB') : 'N/A'}</td>\n                    <td>${c.email || primaryEmail || '-'}</td>\n                    <td>${c.name || primaryName || '-'}</td>\n                    <td>${c.consentType || '-'}</td>\n                    <td>${c.isActive ? '<span style=\"color:#22c55e\">Active</span>' : '<span style=\"color:#ef4444\">Inactive</span>'}</td>\n                    <td>${c.revokedAt ? new Date(c.revokedAt).toLocaleString('en-GB') : '-'}</td>\n                </tr>\n                `).join('')}\n            </tbody>\n        </table>\n    </div>\n    ` : ''}\n    `}\n    \n    <div class=\"section\">\n        <h3 class=\"section-title\">Compliance Statement</h3>\n        <div class=\"info-box\">\n            <p>${report.complianceStatement?.declaration || 'This report is generated in accordance with GDPR Article 30 requirements.'}</p>\n        </div>\n        <div style=\"display:grid; grid-template-columns: 1fr 1fr; gap: 20px; margin-top: 15px;\">\n            <div>\n                <h4 style=\"margin-bottom:10px; color:#1e40af;\">Data Protection Measures</h4>\n                <ul class=\"compliance-list\">\n                    ${(report.complianceStatement?.dataProtectionMeasures || []).map(m => `<li>${m}</li>`).join('')}\n                </ul>\n            </div>\n            <div>\n                <h4 style=\"margin-bottom:10px; color:#1e40af;\">Data Subject Rights</h4>\n                <ul class=\"compliance-list\">\n                    ${(report.complianceStatement?.dataSubjectRights || []).map(r => `<li>${r}</li>`).join('')}\n                </ul>\n            </div>\n        </div>\n    </div>\n    \n    <div class=\"footer\">\n        <p><strong>Report ID:</strong> GDPR-${Date.now()}</p>\n        <p><strong>Generated by:</strong> ${report.reportMetadata?.generatedBy || 'GDPR Compliance System'}</p>\n        <p><strong>Data Subject:</strong> ${primaryEmail} ${primaryName ? '(' + primaryName + ')' : ''}</p>\n        <p><strong>Contact DPO:</strong> ${report.controllerInformation?.contactDpo || 'N/A'}</p>\n        <p style=\"margin-top:15px; font-style:italic;\">This document constitutes an official record of processing activities in accordance with GDPR Article 30.</p>\n    </div>\n</body>\n</html>\n`;\n\nreturn [{\n    json: {\n        success: true,\n        format: 'pdf',\n        filename: `gdpr_audit_report_${new Date().toISOString().split('T')[0]}.html`,\n        content: html,\n        contentType: 'text/html',\n        totalRecords: reportData.totalRecords || 0\n    }\n}];"
      },
      "id": "ea7d0bcb-262c-469d-a033-7cc47df1167a",
      "name": "Generate PDF/HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        -928
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-GDPR-Report",
                "value": "audit"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3344,
        -816
      ],
      "id": "380ca5c2-7638-4df1-bec8-f6c4aa252240",
      "name": "Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status || 401 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -6144,
        -640
      ],
      "id": "6a9e8da8-b1ff-414e-9dc5-31e1bf20e0af",
      "name": "Error Response"
    },
    {
      "parameters": {
        "jsCode": "// Email не найден - возвращаем пустой результат\nconst data = items[0].json;\n\nreturn [{\n    json: {\n        success: true,\n        format: data.format || 'json',\n        data: {\n            reportMetadata: {\n                title: 'GDPR Article 30 - Record of Processing Activities',\n                generatedAt: new Date().toISOString(),\n                queryParameters: { email: data.email }\n            },\n            message: 'No sessions found for email: ' + data.email,\n            processingActivities: [],\n            dataSubjectSummary: {\n                totalAuditRecords: 0,\n                email: data.email\n            }\n        },\n        totalRecords: 0\n    }\n}];"
      },
      "id": "7ede34f1-1003-44f9-ab55-0886a42e0c04",
      "name": "No Sessions Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4832,
        -528
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Audit Report": {
      "main": [
        [
          {
            "node": "Security Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Check": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Has Session ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Session ID?": {
      "main": [
        [
          {
            "node": "Prepare Direct Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Sessions by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Sessions by Email": {
      "main": [
        [
          {
            "node": "Prepare Session IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session IDs": {
      "main": [
        [
          {
            "node": "Sessions Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Direct Search": {
      "main": [
        [
          {
            "node": "Sessions Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sessions Found?": {
      "main": [
        [
          {
            "node": "Prepare SQL Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Sessions Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SQL Query": {
      "main": [
        [
          {
            "node": "Get Audit Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Consent Records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get User Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audit Logs": {
      "main": [
        [
          {
            "node": "Merge Audit+Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Consent Records": {
      "main": [
        [
          {
            "node": "Merge Audit+Consent",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get User Emails": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Audit+Consent": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Format Audit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Audit Report": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Generate PDF/HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is CSV?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is CSV?": {
      "main": [
        [
          {
            "node": "Generate CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF/HTML": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CSV": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return JSON": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Sessions Found": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "baa89b3d-e27c-4855-a4c3-73e22b0aec4c",
  "meta": {
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "BpgMx2X5bFeoqmaQ",
  "tags": []
}